body{
    font-size: 16px;
    font-family: 'Tiro Gurmukhi', serif;
}
/*Generic properties*/
.background-beige{
    background-color: rgb(235, 232, 202);
}
.flex{
    display: flex;
}
.space-btwn{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.btn-set{
    color: white;
    text-transform: uppercase;
    background-color: #036f7b;
    box-shadow: 5px 5px 5px black;
    font-size: 1.5rem;
    width: 35%;
    height: 35px;
}
.full-width{
    width: 100%;
}
.list-footer{
    font-size: 1.5rem;
    display: block;
}
.title{
    font-size: 2.2rem;
}
.title::after{
    content:"_________________";
    width: 500px;
}
/*Première partie*/
#first-head{
    height: 160px;
}
input{
    width: 25%;
    height: 40px;
    margin-top: 5%;
    margin-right: 4%;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
#logo{
    width: 9%;
    height: 100px;
    margin-left: 3%;
    margin-top: 3%;
}
#barre{
    width: 20%;
    position: relative;
    margin-right: 2%;
}
input[type="search"]{
    background-color: transparent ;
    font-size: 12px;
    margin: 0;
}
button[type="submit"]{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/*Seconde Partie */
#second-head{
    height: 80px;
    margin-top: 2.9%; 
    box-shadow: 0px 3px black;
    z-index: 100;
    position: absolute; 

}
#logo-2{
    margin-right: 10%;
    margin-top: 3%;
    width: 6%;
    height: 20px;
    
}
ul{
    list-style-type: none;
    width: 150%;
    font-size: 1.8rem;
}
 #img-first-plan{
    height: 400px;
    background-image: url("../img/bandeau.jpg.jpg");
    margin-top: 3%;
} 
.btn-two{
    width: 25%;
    height: 60px;
    margin-left: 40%;
    margin-top: 14%;
} 
/*Corps de la page soit la troisieme partie*/
main{
    width: 85%;
    margin: auto;
    margin-top: 5%;
}
p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}
/*quatrieme partie de la page*/
img{
    width: 100%;
}
.three-img-first, .three-img-second, .three-img-three{
    border: 4px solid rgb(209, 158, 63);
    height: 500px;
    width: 30%;
}
.three-btn{
    margin-left: 60%;
    margin-top: 9%;
}
/*cinquieme partie*/
footer{
    height: 240px;
    margin-top: 5%;
}
#logo-footer{
    width: 15%;
    height: 200px;
}
#change > .list-footer{
    width: 30%;
}
.logo{
    display: inline-block;
    margin-top: 1%;
}
#law-text{
    font-size: 1rem;
    width: 30%;
    margin: auto;
}
#change{
    justify-content: space-evenly;
    padding-top: 1%;
}